<script>
	import Nav from './NavBar.svelte';
	// import Login from '../modals/Login.svelte';
</script>

<div id="container">
	<header>
		<Nav />
	</header>

	<slot />

	<footer><a href="/info">Impressum</a></footer>
</div>

<style global>
	#container {
		background: floralwhite;
		margin: auto;
		max-width: 1000px;
		min-height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	header {
		min-height: 5rem;
	}

	footer {
		margin-top: auto;
		padding: 1rem;
		border-top: 4px solid goldenrod;
		background-color: #181818;
		text-align: left;
	}

	footer a {
		color: goldenrod;
	}
</style>
