<script>
	import { fade, slide } from 'svelte/transition';
	import titleImage from '$lib/images/web.jpg';
</script>

<div in:fade out:slide>
	<div id="title">
		<h1>Gesellschaft für strategischen Konsum</h1>
		<p>Eine Initiative von Menschen für Menschen</p>
	</div>
	<figure>
		<img src={titleImage} alt="" />
	</figure>
	<main>
		<h2>Herzlich Wilkommen!</h2>
		<p>Hier ensteht die Gesellschaft für strategischen Konsum!</p>
	</main>
</div>

<style>
	#title {
		padding: 2rem 4rem;
	}

	#title p {
		color: rgb(154, 154, 154);
		font-weight: bold;
		font-size: larger;
		margin: 0;
	}

	div {
		text-align: center;
	}

	main {
		margin: 2rem;
		padding: 0 4rem;
	}

	p {
		margin-bottom: 1em;
	}

	@media (max-width: 600px) {
		#title {
			padding: 1rem;
		}

		figure {
			min-height: 9rem;
		}
		main {
			padding: 1rem;
		}
	}
</style>
