<script>
	import { page } from '$app/stores';

	const navRoutes = [
		{ href: '/', label: 'Start' },
		{ href: '/about', label: 'Über das Projekt' },
		{ href: '/info', label: 'Kontakt und Info' }
	];
</script>

<nav>
	{#each navRoutes as { href, label }}
		<a {href} class:active={$page.routeId === href}>{label}</a>
	{/each}
</nav>

<style>
	nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
	a {
		flex: 1 0 max-content;
		max-width: 50%;
		height: 2.5rem;
		border: solid 1px floralwhite;
		background: #181818;
		color: #9a9a9a;
		padding: 0.5rem 0.75rem;
		text-align: center;
		text-decoration: none;
		font-style: normal;
	}
	.active {
		color: #181818;
		background-color: rgb(154, 154, 154);
		border-color: gold;
	}
</style>
