<slot><!-- optional fallback --></slot>

<style global>
	:global(section) {
		margin: 1rem auto;
	}

	:global(ul) {
		margin-bottom: 2rem;
	}

	:global(li) {
		color: forestgreen;
		font-size: larger;
		font-weight: bold;
	}

	:global(h3) {
		margin: 0.25rem 0 0.5rem 0;
	}

	:global(p) {
		margin: 0.5rem 0 1rem 0;
	}

	:global(a) {
		cursor: pointer;
		font-style: oblique;
		color: forestgreen;
		text-decoration: none;
	}
</style>
