<script>
	import img_main from '$lib/images/crowd2.png';
	import img2 from '$lib/images/social-media-2457842_1920.png';

	import H2 from '$lib/components/H2.svelte';
	import MoveUp from '$lib/components/Arrow.svelte';
	import DasZiel from './DasZiel.svelte';
	import DerWeg from './DerWeg.svelte';
	import DieIdee from './DieIdee.svelte';
	import { fade, scale, slide } from 'svelte/transition';
	import { quintOut } from 'svelte/easing';

	$: sectionOpen = 0;
	const sections = ['Die Idee', 'Das Ziel', 'Der Weg'];

	function toggleSections(index) {
		if (index <= sections.length) {
			if (sectionOpen == index) {
				sectionOpen = 0;
			} else {
				sectionOpen = index;
			}
		} else {
			sectionOpen = 0;
		}
	}
</script>

<main in:fade out:slide>
	<img src={img_main} alt="verschiedene Menschen" />
	<H2 id="h2-about-1" active={sectionOpen == 1} on:click={() => toggleSections(1)} on:keypress
		>Die Idee</H2
	>
	{#if sectionOpen == 1}
		<DieIdee />
	{/if}

	<H2 id="h2-about-2" active={sectionOpen == 2} on:click={() => toggleSections(2)} on:keypress>
		Das Ziel</H2
	>
	{#if sectionOpen == 2}
		<DasZiel />
	{/if}
	<H2 id="h2-about-3" active={sectionOpen == 3} on:click={() => toggleSections(3)} on:keypress
		>Der Weg</H2
	>{#if sectionOpen == 3}
		<DerWeg />
	{/if}

	{#if !sectionOpen}
		<section style:text-align="center" style:color="#878242">
			<h3>Herzlich Willkommen!</h3>
			<p>Klicke auf eine Überschrift, um zu lesen.</p>
		</section>
	{/if}
	<img
		src={img2}
		alt="stehen zusammen"
		style:margin-top="4rem"
		in:scale|start={{
			duration: 500,
			delay: 500,
			opacity: 0,
			start: 0.5,
			easing: quintOut
		}}
	/>

	<MoveUp />
</main>

<style>
	main {
		padding: 2rem 4rem;
	}

	@media (max-width: 600px) {
		main {
			padding: 1rem;
		}
	}

	section {
		margin-top: 5rem;
	}
</style>
