<section>
  <h3>Lorem ipsum dolor sit.</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non expedita
    molestias! Cumque, nulla quos consequuntur consequatur porro dolor obcaecati
    repellat illo consectetur sint! Minima pariatur placeat consequatur dolores
    aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non expedita
    molestias! Cumque, nulla quos consequuntur consequatur porro dolor obcaecati
    repellat illo consectetur sint! Minima pariatur placeat consequatur dolores
    aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non expedita
    molestias! Cumque, nulla quos consequuntur consequatur porro dolor obcaecati
    repellat illo consectetur sint! Minima pariatur placeat consequatur dolores
    aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non expedita
    molestias! Cumque, nulla quos consequuntur consequatur porro dolor obcaecati
    repellat illo consectetur sint! Minima pariatur placeat consequatur dolores
    aut.
  </p>
  <h3>Lorem ipsum dolor sit.</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non expedita
    molestias! Cumque, nulla quos consequuntur consequatur porro dolor obcaecati
    repellat illo consectetur sint! Minima pariatur placeat consequatur dolores
    aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non expedita
    molestias! Cumque, nulla quos consequuntur consequatur porro dolor obcaecati
    repellat illo consectetur sint! Minima pariatur placeat consequatur dolores
    aut.
  </p>
</section>

<style>
  section {
    margin: 1rem auto;
  }

  h3 {
    margin: 0.25rem 0 0.5rem 0;
  }

  p {
    margin: 0.5rem 0 1rem 0;
  }
</style>
