<script>
</script>

<section>
	<p>
		Eine Genossenschaft, so wie sie geplant ist, zu gründen, ist relativ aufwendig. Zunächst geht es
		darum, genügend Mitstreiter zu finden. Um dieses erste Ziel zu erreiche, gründen wir zunächst in
		der Rechtsform eingetragener Verein (e.V.).
	</p>
	<p>
		Die Gesellschaft für strategischen Konsum e.V. hat die Aufgabe, die Gründung einer
		Konsumgenossenschaft vorzubereiten. Das beinhaltet verschiedene Bereiche.
	</p>
	<ul>
		<li><a href="#Menschen">Menschen</a></li>
		<li><a href="#Kommunikation">Kommunikation</a></li>
		<li><a href="#Daten">Daten</a></li>
		<li><a href="#Strategie">Strategie</a></li>
		<li><a href="#Entscheidungen">Entscheidungen</a></li>
		<li><a href="#Geld">Geld</a></li>
	</ul>
	<h3 id="Menschen">Menschen</h3>
	<p>
		Wenn sich drei bis elf Menschen zusammentun, um gemeinsam einzukaufen, ist das zwar sehr schön,
		aber es hat natürlich keinen Einfluss auf den Markt und die Anbieter.
	</p>
	<p>
		Wie viele Menschen wir brauchen, um etwas zu bewegen, lässt sich wahrscheinlich nicht pauschal
		mit einer Zahl beantworten. Es kommt darauf an, für welche Art von Produkten es die größten
		Schnittmengen
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		unter den Mitgliedern gibt. Daher die
		<a href="Daten">Evaluierung des Konsumverhaltens</a>. Vermutlich bräuchte die Genossenschaft
		einige Tausend Mitglieder, um einigermaßen relevant zu werden.
	</p>
	<p>
		Das schöne ist, dass mensch nicht mal sein Verhalten ändern muss, um mit der aktiven Mitarbeit
		zu beginnen. Eher im Gegenteil. Es geht darum, zunächst die Idee zu verstehen, sich mit anderen
		darüber auszutauschen und die Idee weiter zu entwickeln.
	</p>
	<h3 id="Kommunikation">Kommunikation</h3>
	<p>
		Wenn wir gemeinsam ein demokratisches Unternehmen gründen wollen, werden wir vieles diskutieren
		müssen.
	</p>
	<p>
		Die Regeln für unseren Austausch sollten wir selbst nach unseren Anforderungen entwickeln.
		Beispielsweise ist es wichtig, dass jede:r teilhaben kann, dass <a href="Entscheidungen"
			>Entscheidungsprozesse</a
		> nachvollziehbar sind und dass Machtkonzentrationen und Hierarchien möglichst vermieden werden.
	</p>
	<p>
		Technik, die wir benutzen, muss an unsere Prozesse anpassbar sein und unseren sich entwickelnden
		Anforderungen entsprechen. Keinesfalls sollten sich die Gruppenregeln nach den Vorgaben einer
		technischen Plattform richten.
	</p>
	<p>Was wir diskutieren, geht nur uns etwas an. Die Hoheit über unsere Daten ist daher wichtig</p>
	<p>
		Aus diesen Gründen kommen die beliebten Messenger und (a)sozialen Medien nicht für uns in Frage.
		Wir werden stattdessen unsere eigene Kommunikationsplattform betreiben.
	</p>
	<h3 id="Daten">Daten</h3>
	<p>
		<em>Daten über Konsumverhalten sammeln</em> klingt ziemlich böse, heißt in unserem Fall aber nur,
		dass die Mitglieder Daten zu ihrem eigenen Konsumverhalten erheben, also was kaufe ich, wie oft,
		wie viel und so weiter. Diese Daten können dann zusammengetragen werden, um Potentiale zu erkennen.
	</p>
	<p>
		Um unsere eigenen Nutzerdaten zu sammeln, brauchen wir keine Marktforschung oder heimliches
		Ausspionieren. Wir müssen auch niemanden damit beauftragen. Wir befragen uns einfach selbst. Das
		verursacht nebenbei deutlich weniger Kosten.
	</p>
	<p>
		Die Auseinandersetzung mit dem eigenen Konsumverhalten kann sowieso nicht schaden, ob auf
		ethischer, politischer oder wirtschaftlicher Ebene. Aus den Erkenntnissen können Strategien
		entwickelt werden.
	</p>
	<h3 id="Strategie">Strategie</h3>
	<p>
		Womit fängt man an und wie? Welche Produkte eignen sich überhaupt, um gemeinschaftlich
		eingekauft oder produziert zu werden? Wer sind die wichtigsten Produzenten in einer bestimmten
		Sparte? Welches Fachwissen, welche Erfahrung haben die Mitglieder?
	</p>

	<p>
		Welche Auswirkungen ökologischen und sozialen Auswirkungen haben Produkte von der Herstellung
		bis zur Entsorgung? Wer ist der Hersteller?
	</p>
	<p>
		Diese und sehr viele weitere Fragen gilt es zu besprechen. Wir brauchen ausreichende
		Informationen, die wir verstehen, um uns ein Bild zu machen und eine Meinung zu bilden.
	</p>
	<p>
		Strategischen, also langfristiges und zielgerichtetes, gemeinsames Handeln ist, wie der Name
		schon sagt, die Hauptaufgabe der Gesellschaft für strategischen Konsum.
	</p>
	<h3 id="Entscheidungen">Entscheidungen</h3>
	<p>
		Gemeinsam Entscheidungen fällen kann kompliziert sein. Die Vorstellungen, was gerecht oder
		rational ist, sind unterschiedlich. Ein Konsens ist ideal, aber oft nicht möglich.
	</p>
	<p>
		Auch die Frage, wie viel Verantwortung gebe ich ab und was entscheide ich mit, muss sich jedes
		Mitglied stellen.
	</p>
	<p>
		Um tatsächlich ein Unternehmen mit sehr vielen Menschen zu gründen und vor allem zu betreiben,
		ist dieser Aspekt wichtig. Entscheidungen müssen im Geschäftsbetrieb gefällt werden, um voran zu
		kommen, gleichzeitig muss jede:r die Möglichkeit haben, sich an den Entscheidungsprozessen zu
		beteiligen, mit abzustimmen und auch Entscheidungen anzufechten.
	</p>
	<p>
		Größtmögliche Transparenz vor allem von gewählten Vertretern, Vorstand und so, ist dabei eine
		Voraussetzung, um die Teilhabe aller an Entscheidungsprozessen zu ermöglichen.
	</p>
	<h3 id="Geld">Geld</h3>
	<p>
		Wir brauchen natürlich auch Geld. So wie alle. Ideal wäre, den Betrieb des Vereins und die
		Gründung der Genossenschaft ausschließlich durch Mitgliedsbeiträge zu finanzieren, ohne Banken,
		ohne Investoren, ohne Spender.
	</p>
	<p>
		Neben Kosten für Räume und Server, sollte auch die Mitarbeit entlohnt werden, soweit es geht.
		Ehrenamtliches Engagement ist wichtig und hoch anzurechnen, aber nicht jede:r kann sich ein
		Ehrenamt leisten. Von irgendwas muss man schließlich leben. Eine gute Balance zwischen Ehrenamt
		und bezahlter Arbeit zu finden, wird aber womöglich eine Herausforderung.
	</p>
	<p>
		Manche Dienstleistungen müssen eventuell ausgelagert werden, weil das entsprechende Fachwissen
		nicht vorhanden ist.
	</p>
	<p>
		Da der Zweck des Vereins die Gründung eines Unternehmens ist, sind die Finanzen von Anfang an
		ein weiterer wichtiger Aspekt.
	</p>
</section>

<style>
</style>
