<script>
</script>

<section>
	<ul>
		<li>
			<a href="#wir-sind-alle-konsumenten" element="h3">Wir sind alle Konsumenten</a>
		</li>
		<li>
			<a href="#wieso-haben-wir-dann-nicht-die-macht-?" element="h3"
				>Wieso haben wir dann nicht die Macht?</a
			>
		</li>
		<li>
			<a href="#die-macht-der-konzerne" element="h3">Die Macht der Konzerne</a>
		</li>
		<li>
			<a href="#zweit-etwa-zu-ändern" element="h3">Zeit, etwas zu ändern!</a>
		</li>
	</ul>
	<div id="wir-sind-alle-konsumenten">
		<h3>Wir sind alle Konsumenten ... und wir sind viele</h3>
		<p>
			Wir konsumieren alle, der eine mehr, die andere weniger. Aber wir kaufen alle Produkte, die
			wir nicht selbst herstellen können. Es gibt Produkte, die fast jeder Mensch kauft, sei es
			Kleidung, Nahrungsmittel, Smartphones, Stromverträge und so weiter.
		</p>
		<p>
			Wir sind also, was den Konsum angeht, die absolute Mehrheit auf dem Markt. Wir als Käufer
			müssten also bestimmen, wie die Produkte sind, die wir kaufen und was überhaupt angeboten
			wird. Wie jeder weiß und beobachten kann, gibt es viele Produkte, die unseren Bedürfnissen als
			Konsumenten nicht entsprechen. Das können Pestizide und andere Gifte in der Nahrung sein oder
			Kleidung, die unter menschen-, tier- und umweltfeindlichen Bedingungen hergestellt wird. Es
			kann der Stromvertrag sein, bei dem wir den Schwankungen am Strommarkt ausgeliefert sind oder
			das Smartphone, das uns überwacht. Es ist nicht schwer, viele Beispiele zu finden.
		</p>
	</div>
	<div id="wieso-haben-wir-dann-nicht-die-macht-?">
		<h3>Wieso haben wir dann nicht die Macht?</h3>
		<p>
			Warum ist das so, wenn wir als Konsumenten doch die Mehrheit bilden? Wir könnten auf einem
			freien Markt bei konkurrierenden Herstellern doch eigentlich unsere Marktmacht nutzen, um das
			jeweils beste Produkt zum günstigsten Preis zu erhalten. Die Sache hat natürlich einen Haken.
			Was ist überhaupt das beste Produkt? Wäre es nicht gut, wenn wir das selbst definieren würden.
			Sicherlich hat jeder Mensch unterschiedliche Bedürfnisse und demnach auch andere Anforderungen
			an Produkte. Aber vielleicht gibt es ja ein paar Kriterien auf die sich (fast) alle einigen
			können. Wer will schon (potentiell) giftige Nahrung essen? Wer will schon, die totale
			Überwachung, in der das eigene Verhalten laufend aufgezeichnet wird. Und dass für den eigenen
			Konsum Menschen sterben, kann wirklich niemand wollen!
		</p>
		<p>
			So ein Minimalkonsens wäre ein Anfang. Um diesen zu erreichen, müssen wir miteinander reden,
			diskutieren.
		</p>
	</div>
	<div id="die-macht-der-konzerne">
		<h3>Die Macht der Konzerne</h3>
		<p>
			Weiter stellt sich die Frage, wie wir die Angaben der Hersteller überprüfen können. Für den
			vereinzelten Konsumenten ist es schwierig bis unmöglich jeden Aspekt eines Produkts zu
			betrachten. Qualitätssiegel und ähnliches bieten dabei nur begrenzte Orientierung. Zusätzlich
			werden wir durch einen gigantischen Werbe- und PR-Aufwand manipuliert, der die Grenzen der
			objektiven Prüfung und der Eigenwerbung verwischt und eine rationale Beurteilung noch deutlich
			schwerer macht. Die Folge ist, dass der vereinzelte Konsument einer überschaubaren Anzahl von
			Großkonzernen gegenüber steht, die letztendlich bestimmen, was und wie produziert wird.
		</p>
	</div>
	<div id="zweit-etwa-zu-ändern">
		<h3>Zeit, etwas zu ändern</h3>
		<p>
			Ist es nicht an der Zeit, dies zu ändern? Wie können wir als Konsumenten unsere Marktmacht
			realisieren? Wieso handeln wir nicht rational, strategisch und vor allem gemeinsam? Aus diesen
			Fragen ist die Idee geboren:
		</p>
	</div>
	<div id="aufruf">
		<span class="fire"> Wir brauchen eine Gesellschaft für strategischen Konsum! </span>
	</div>
</section>

<style>
	section {
		margin: 1rem auto;
	}

	ul {
		margin-bottom: 2rem;
	}

	h3 {
		margin: 0.25rem 0 0.5rem 0;
	}

	p {
		margin: 0.5rem 0 1rem 0;
	}
	#aufruf {
		display: flex;
	}
	.fire {
		margin: 1em 0 3rem;
		color: firebrick;
		font-weight: bold;
		font-size: larger;
	}
</style>
