<script>
	import { goto } from '$app/navigation';

	function routeToPage(route) {
		goto(`/${route}`, { replaceState: true });
	}
	let opac = false;
</script>

<svelte:window
	on:scroll={(e) => {
		opac = true;
		setTimeout(() => (opac = false), 1000);
	}}
/>

<div>
	<svg
		version="1.1"
		id="MoveUp"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 0 50.454 50.454"
		style="enable-background:new 0 0 50.454 50.454;"
		xml:space="preserve"
	>
		<path
			class:opac
			d="M42.359,25.479L27.122,1.25c-1.048-1.667-2.747-1.667-3.795,0L8.095,25.479
		c-1.048,1.667-0.316,2.801,1.635,2.532l5.43-0.885c1.95-0.269,3.531,1.11,3.531,3.079v16.683c0,1.969,1.596,3.566,3.565,3.566
		h5.935c1.97,0,3.566-1.596,3.566-3.566V30.206c0-1.969,1.582-3.348,3.531-3.079l5.436,0.885
		C42.674,28.28,43.407,27.146,42.359,25.479z"
			fill="#181818"
			fill-opacity="0.2"
		/>
	</svg>
	<span
		on:click={() => {
			routeToPage('about');
		}}
		on:keypress
	/>
</div>

<style>
	div {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		border: none;
		background-color: transparent;
		width: 3rem;

		margin: 0 -1rem 1rem auto;
		position: sticky;
		bottom: 1rem;
		right: 0;
	}
	svg {
		transition: opac 1s ease-in;
	}

	.opac {
		fill: #0593fa;
		fill-opacity: 0.6;
	}

	span {
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;
		position: absolute;
		bottom: 0;
		right: 0;
	}
</style>
