<script>
	import { onDestroy } from 'svelte';

	export let id;
	export let active;

	let intervalID;
	const random256 = () => Math.floor(Math.random() * 255);

	$: rgb = [211, 211, 211];
	$: active ? setRandomRGB() : clearInterval(intervalID);
	// "background: linear-gradient(0.25turn," + rgbString + ",floralwhite)";
	function setRandomRGB() {
		intervalID = setInterval(() => {
			const i = Math.floor(Math.random() * 3);
			rgb[i] = random256();
		}, 2500);
	}

	$: background = `background: rgba(${rgb.join(
		','
	)},0.5) linear-gradient(0.25turn, transparent, floralwhite)`;

	onDestroy(() => clearInterval(intervalID));
</script>

<h2 {id} style={background} on:click on:keypress>
	<slot />
</h2>

<style>
	h2 {
		margin: 0.25rem 0 0.5rem 0;
		width: 80%;
		font-size: 1.25rem;
		padding: 0.5rem 0 0 1rem;
		transition: background 5s ease-in-out;
		position: relative;
	}

	@media (min-width: 400px) {
		h2 {
			padding-left: 4rem;
		}
	}
</style>
