<script>
    export let to;
    export let bold = false;
    export let element = 'span';
    function scrollToId(id) {
        document.getElementById(id).scrollIntoView({ behavior: 'smooth' });
    }
</script>

{#if element === 'h3'}
    <h3 on:click={() => scrollToId(to)} on:keypress>
        <slot>...</slot>
    </h3>
{:else}
    <span class:bold on:click={() => scrollToId(to)} on:keypress>
        <slot>...</slot>
    </span>
{/if}

<style>
    span {
        cursor: pointer;
        font-style: oblique;
        color: forestgreen;
        text-decoration: underline forestgreen;
    }

    h3 {
        cursor: pointer;
        color: forestgreen;
    }

    .bold {
        font-weight: bold;
    }
</style>
